In [8]:
#Bảng chân lý
import ttg
ttg.Truths(['p'], ['~p']).as_pandas
ttg.Truths(['p', 'q'], ['p or q', 'p and q', 'p != q', 'p => q', 'p = q'], ascending=True).as_pandas

   p  q  p or q  p and q  p != q  p => q  p = q
1  0  0       0        0       0       1      1
2  0  1       1        0       1       1      0
3  1  0       1        0       1       0      0
4  1  1       1        1       0       1      1

In [1]:
import ttg
ttg.Truths(['p', 'q', 'r'], ['p and q or ~(r != p)'], ascending=True).as_pandas

   p  q  r  p and q or ~(r != p)
1  0  0  0                     1
2  0  0  1                     0
3  0  1  0                     1
4  0  1  1                     0
5  1  0  0                     0
6  1  0  1                     1
7  1  1  0                     1
8  1  1  1                     1

In [4]:
#Test VD
import ttg
ttg.Truths(['p', 'q'], ['~p', '~(p or ~q)', '~(p or ~q) => ~p'], ascending=True).as_pandas

   p  q  ~p  ~(p or ~q)  ~(p or ~q) => ~p
1  0  0   1           0                 1
2  0  1   1           1                 1
3  1  0   0           0                 1
4  1  1   0           0                 1

In [6]:
import ttg
ttg.Truths(['p', 'q'], ['p => q', 'p and (p => q)', 'p and (p => q) => q'], ascending=True).as_pandas

   p  q  p => q  p and (p => q)  p and (p => q) => q
1  0  0       1               0                    1
2  0  1       1               0                    1
3  1  0       0               0                    1
4  1  1       1               1                    1

In [2]:
# Tương đương logic: luật logic
from sympy import *
p, q = symbols('p q')
#simplify_logic(p >> q)
simplify_logic(~p | q)

q | ~p

In [9]:
# Thiết lập tính hợp lệ của lập luận
from sympy import *
p, q, r, s, t, u = symbols('q p r s t u')
b = (p >> q) & (q >> r & s) & (~r | ~t | u) & (p & t)
simplify_logic(b)

p & q & r & s & t & u

In [10]:
from sympy import *
p, q, r, s, t, u = symbols('p q r s t u')
b = (~p | q >> r)  & (r >> s | t) & (~s & ~u) & (~u >> ~t)
simplify_logic(b)

~r & ~s & ~t & ~u & (~p | ~q)

In [12]:
p = lambda k, n: n % k != 0

def is_prime(n):
  for k in range(2, n):
    if not p(k, n):
      return False
  return True

is_prime(7)

True

In [14]:
p = lambda k, n: n % k == 0

def is_composite(n):
  for k in range(2, n):
    if p(k, n):
      return True
  return False

is_composite(7)

False

In [5]:
def binary_arrays(n):
    if n == 1:
        return [[True], [False]]
    A = []
    for a in binary_arrays(n-1):
        a = [True] + a
        A.append(a)
    for a in binary_arrays(n-1):
        a = [False] + a
        A.append(a)
    return A

binary_arrays(3)

[[True, True, True],
 [True, True, False],
 [True, False, True],
 [True, False, False],
 [False, True, True],
 [False, True, False],
 [False, False, True],
 [False, False, False]]

In [4]:
from sympy import *

p, q, r = symbols('p q r')
P = p >> (q & r) | False

for P_, Q_, R_ in binary_arrays(3):
    print(P_, Q_, R_, P.subs({p: P_, q: Q_, r: R_})) #P.subs({p: P_, q: Q_, r: R_}): thay p, q, r bằng P_, Q_, R_ lấy từ binary_arrays(3)

True True True True
True True False False
True False True False
True False False False
False True True True
False True False True
False False True True
False False False True